<div>
    <div class="  grid bg-black ">
      <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 ">
        <div  class="w-1 sm:w-1/2 xl:w-3/5 bg-black h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden  text-white bg-no-repeat bg-cover " style="background-image: url(assets/image/youquiz.png); height: 700px;">
          <div class="w-full  lg:max-w-2xl md:max-w-md z-10 items-center text-center ">
            <div class=" font-bold leading-tight mb-6 mx-auto w-full content-center items-center ">
          
            </div>
          </div>
        </div>

        <div class="md:flex md:items-center md:justify-left w-full sm:w-auto md:h-full xl:w-1/2 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none ">
            <div class="max-w-xl w-full space-y-12">
              <div class="lg:text-left text-center">
          
                <div class="flex items-center justify-center mt-10 ">
                 <div class="bg-black flex flex-col w-80 border border-orange-400 rounded-lg px-8 py-10">
                  
                 <form class="flex flex-col space-y-8 mt-10" (ngSubmit)="onSubmit()" >
<label class="font-bold text-lg text-white">Title</label>
  <input type="text" placeholder="Title Of Subject" class="border rounded-lg py-3 px-3 mt-4 bg-black border-orange-400 placeholder-white-500 text-white" [(ngModel)]="title"   name="title">
  <button type="submit" class="border border-orange-400 bg-black text-white rounded-lg py-3 font-semibold">Create Subject</button>
</form>


                </div>
                </div>
            
            </div>
              
            </div>







            


